.devices-info-page {
    background-color: #F5F6F6;
    height: 100%;
    padding: 6rem 3.2rem 0 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.devices-info-page h2 {
    font-weight: 600;
    font-size: 2.2rem;
}

.devices-info-page__card {
    padding: 3.6rem 2.8rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    box-shadow: 0 10px 10px #ccc;
}

.devices-info-page__card h3{
    font-weight: 600;
    font-size: 2rem;
    margin: 0 auto 1rem auto;
}

.devices-info-page__card h4{
    font-weight: 600;
    font-size: 1.8rem;
}

.devices-info-page__card__feature{
    font-size: 1.6rem;
}

.devices-info-page__card__feature h5 {
    font-size: inherit;
    font-weight: 600;
}

.devices-info-page__card__feature p {
    font-weight: 400;
    color: #5b5b5b;
}